/*
 * Globals
 */

body {
    /*padding-top: 10px;*/
    margin-bottom: 10px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
}

header {
    margin-top: 15px;
    margin-bottom: 15px;
}


/*
 * Override Bootstrap's default container.
 */

.school-logo {

}

.page-title {
    padding-left: auto;
    padding-right: auto;
    padding-top: 10px;
    font-size: 34px;
    color: #50007c;
    cursor: pointer;
}

.content {
    font-size: 16px;
    line-height: 1.5;
}

.footer {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*
** Styles for side panel
*/

.side-panel .panel {

}

/*add scroll bar to side panel*/
@media(min-width: 768px){
    .side-panel .list-group {
        overflow: auto;
        max-height:640px;
    }
}
@media (max-width: 767px) {
    .side-panel .list-group {
        overflow: auto;
        max-height:300px;
    }
}

.side-panel .list-hover:hover {
    cursor: pointer;
    background: #F8F8F8;
}

.edit-trigger {
    cursor: pointer;
    padding: 0px 10px;
}

.add-list-item {
    cursor: pointer;
    text-align: center;
}

.add-list-item:hover {
    background: #F8F8F8;
}

.expand-modal-editor {
    min-height: 100px;
}
/*.admin-bar {
    background: #F8F8F8;
    height: 30px;
    text-align: right;
}

.admin-bar span {
    display: block;
    margin-top: 3px;
    margin-right: 30px;
}*/

.wysihtml-toolbar {
    background: #E7E7E7;
    padding: 3px;
}

.wysihtml-toolbar .btn {
    /*margin: 1px;*/
}

.wysihtml-toolbar span.red {
    padding: 0px 5px;
    background-color: red;
}

.wysihtml-toolbar span.green {
    padding: 0px 5px;
    background-color: green;
}

.wysihtml-toolbar span.blue {
    padding: 0px 5px;
    background-color: blue;
}

.wysihtml-editor{
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.0980392);
    border-width: 1px;
}


/*
** Style for main wysihtml editor
*/
.wysihtml-toolbar .row{
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 3px;
}

.wysiwyg-font-size-smaller {
  font-size: smaller;
}

.wysiwyg-font-size-larger {
  font-size: larger;
}

.wysiwyg-font-size-xx-large {
  font-size: xx-large;
}

.wysiwyg-font-size-x-large {
  font-size: x-large;
}

.wysiwyg-font-size-large {
  font-size: large;
}

.wysiwyg-font-size-medium {
  font-size: medium;
}

.wysiwyg-font-size-small {
  font-size: small;
}

.wysiwyg-font-size-x-small {
  font-size: x-small;
}

.wysiwyg-font-size-xx-small {
  font-size: xx-small;
}

.wysiwyg-color-black {
  color: #000;
}

.wysiwyg-color-silver {
  color: silver;
}

.wysiwyg-color-gray {
  color: gray;
}

.wysiwyg-color-white {
  color: white;
}

.wysiwyg-color-maroon {
  color: maroon;
}

.wysiwyg-color-red {
  color: red;
}

.wysiwyg-color-purple {
  color: purple;
}

.wysiwyg-color-fuchsia {
  color: fuchsia;
}

.wysiwyg-color-green {
  color: green;
}

.wysiwyg-color-lime {
  color: lime;
}

.wysiwyg-color-olive {
  color: olive;
}

.wysiwyg-color-yellow {
  color: yellow;
}

.wysiwyg-color-navy {
  color: navy;
}

.wysiwyg-color-blue {
  color: blue;
}

.wysiwyg-color-teal {
  color: teal;
}

.wysiwyg-color-aqua {
  color: aqua;
}

.wysiwyg-text-align-right {
  text-align: right;
}

.wysiwyg-text-align-center {
  text-align: center;
}

.wysiwyg-text-align-left {
  text-align: left;
}

.wysiwyg-text-align-justify {
  text-align: justify;
}

.wysiwyg-float-left {
  float: left;
  margin: 0 8px 8px 0;
}

.wysiwyg-float-right {
  float: right;
  margin: 0 0 8px 8px;
}

.wysiwyg-clear-right {
  clear: right;
}

.wysiwyg-clear-left {
  clear: left;
}