{% extends "layout_home.html" %}
{% block content %}
    {% if session.logged_in %}
        {% for content in content %}
        <div class="row viewable">
        {{content.text | safe}}
        </div>
        <div class="editable">
            <div class="row">
                <textarea id="contetnEditor" class="richTxtEditor" >
                {{content.text | safe}}
                </textarea>
                <form id="update_content" action="{{url_for('update_content')}}" method="post">
                    <div class="hidden" id="dump">
                        <input type="text" id="update_text" name="content">
                        <input type="text" id="update_url" name="url" value="{{content.url}}">
                    </div>
                </form>
            </div>
            <br>
            <div class="row">
                <button type="button" id="save_changes" class="pull-right btn btn-primary">Save changes</button>
                <button type="button" id="cancel_changes" class="pull-right btn btn-default" style="margin-right: 10px;">Cancel</button>
            </div>
        </div>


        <div id="key_site_info" class="hidden">
            <input type="text" id="siteName" value="{{content.siteName}}">
            <input type="text" id="page_url" value="{{content.url}}">
        </div>


        <form id="create_side" action="{{ url_for('create_side_item') }}" method="post">
            <div class="row hidden" id="dump">
                <input type="text" id="side_create_text" name="item">
                <input type="text" id="side_create_url" name="url" value="{{content.url}}">
            </div>
            <br>
        </form>
        <form id="update_side" action="{{ url_for('update_side_item') }}" method="post">
            <div class="row hidden" id="dump">
                <input type="text" id="side_update_text" name="item">
                <input type="text" id="side_update_id" name="id">
            </div>
            <br>
        </form>
        <form id="delete_side" action="{{ url_for('delete_side_item') }}" method="post">
            <div class="row hidden" id="dump">
                <input type="text" id="side_delete_id" name="id">
            </div>
            <br>
        </form>
        {% endfor %}
    {% else %}
        {% for content in content %}
        {{content.text | safe}}
        {% endfor %}
    {% endif %}
{% endblock %}