<!doctype html>
<title>Flaskr</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    <h1>Flaskr</h1>
    <div class=metanav>
        {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">log in</button> {% else %}
        <a href="{{ url_for('logout') }}">log out</button> {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %} {% block body %}{% endblock %}
</div>



<div id="wysihtml-toolbar" style="display: none;">
    <button class="btn btn-default" data-wysihtml5-command="bold" unselectable="on"><svg width="21" height="21" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.232 10.346c-.181-.535-.437-1.005-.767-1.41-.331-.406-.731-.727-1.201-.962-.472-.235-1.002-.355-1.589-.355-.597 0-1.102.118-1.514.354-.412.236-.732.497-.959.777h-.034v-5.25h-2.668v12.764h2.458v-1.099h.032c.26.428.632.757 1.114.987.484.232.996.348 1.541.348.605 0 1.147-.123 1.625-.37.479-.248.883-.578 1.215-.987.328-.412.582-.888.757-1.429.172-.54.26-1.103.26-1.688-.002-.585-.092-1.144-.27-1.68zm-2.425 2.481c-.08.265-.203.499-.365.7-.162.203-.363.367-.602.49-.24.125-.518.187-.832.187-.303 0-.574-.062-.813-.187s-.442-.287-.61-.49c-.168-.201-.298-.434-.39-.69-.093-.26-.139-.524-.139-.795s.045-.533.137-.792c.093-.26.223-.492.39-.693.169-.201.372-.365.61-.488.24-.125.51-.187.813-.187.314 0 .594.062.832.187.237.123.439.283.604.48.162.196.283.426.365.686.08.258.121.521.121.791.002.272-.039.536-.121.801z" fill="#1B2124"></path>
    </svg></button>
    <button class="btn btn-default" data-wysihtml5-command="italic" unselectable="on">italic</button>
    <button class="btn btn-default" data-wysihtml5-command="foreColor" data-wysihtml5-command-value="black">black</button>
    <button class="btn btn-default" data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red">red</button>
    <button class="btn btn-default" data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green">green</button>
    <button class="btn btn-default" data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue">blue</button>
    <button class="btn btn-default" data-wysihtml5-command="createLink">insert link</button>
    <div data-wysihtml5-dialog="createLink" style="display: none;">
        <label> Link:<input data-wysihtml5-dialog-field="href" value="http://" class="text"> </label>
        <button class="btn btn-default" data-wysihtml5-dialog-action="save">OK</button>
        <button class="btn btn-default" data-wysihtml5-dialog-action="cancel">Cancel</button>
    </div>
</div>
<div id="wysihtml-editor">
</div>




    <button data-wysihtml5-command="insertImage" href="javascript:;" unselectable="on" class="wysihtml5-command-active wysihtml5-command-dialog-opened">image</button>

    <div data-wysihtml5-dialog="insertImage">
        <label>
          Image:
          <input data-wysihtml5-dialog-field="src" value="http://">
        </label>
        <label>
          Align:
          <select data-wysihtml5-dialog-field="className">
            <option value="">default</option>
            <option value="wysiwyg-float-left">left</option>
            <option value="wysiwyg-float-right">right</option>
          </select>
        </label>
        <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
      </div>



<div id="wysihtml-toolbar" style="display: none;">
    <div id="toolbar" class="edy-tb" style="display: none;">
        <button class="edy-tb-cmd" data-wysihtml5-command="bold" title="Bold">
            <svg width="21" height="21" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.232 10.346c-.181-.535-.437-1.005-.767-1.41-.331-.406-.731-.727-1.201-.962-.472-.235-1.002-.355-1.589-.355-.597 0-1.102.118-1.514.354-.412.236-.732.497-.959.777h-.034v-5.25h-2.668v12.764h2.458v-1.099h.032c.26.428.632.757 1.114.987.484.232.996.348 1.541.348.605 0 1.147-.123 1.625-.37.479-.248.883-.578 1.215-.987.328-.412.582-.888.757-1.429.172-.54.26-1.103.26-1.688-.002-.585-.092-1.144-.27-1.68zm-2.425 2.481c-.08.265-.203.499-.365.7-.162.203-.363.367-.602.49-.24.125-.518.187-.832.187-.303 0-.574-.062-.813-.187s-.442-.287-.61-.49c-.168-.201-.298-.434-.39-.69-.093-.26-.139-.524-.139-.795s.045-.533.137-.792c.093-.26.223-.492.39-.693.169-.201.372-.365.61-.488.24-.125.51-.187.813-.187.314 0 .594.062.832.187.237.123.439.283.604.48.162.196.283.426.365.686.08.258.121.521.121.791.002.272-.039.536-.121.801z" fill="#1B2124"></path>
            </svg>
        </button>
        <button class="edy-tb-cmd" data-wysihtml5-command="italic" title="Italic">
            <svg width="21" height="21" xmlns="http://www.w3.org/2000/svg">
                <g transform="translate(7 3)" fill="#1B2124">
                    <path d="M2.926 14l1.765-8.912h-2.448l-1.743 8.912h2.426z" id="Shape"></path>
                    <path d="M5.096.863c-.27-.242-.604-.363-1.007-.363-.401 0-.752.134-1.058.402-.306.268-.456.61-.456 1.029 0 .432.141.765.425 1 .284.237.625.353 1.025.353.418 0 .764-.143 1.049-.431.283-.288.426-.622.426-1 0-.418-.135-.749-.404-.99z"></path>
                </g>
            </svg>
        </button>
        <button class="edy-tb-cmd" data-wysihtml5-command="underline" title="Underline">
            <svg width="21" height="21" xmlns="http://www.w3.org/2000/svg">
                <title>
                    Slice 1
                </title>
                <g transform="translate(6 5)" fill="#1B2124">
                    <path d="M9.141-.5h-2.271v4.791c0 .291-.042.578-.132.862-.09.284-.217.535-.387.752-.17.219-.391.397-.662.536-.27.14-.581.209-.934.209-.365 0-.659-.072-.878-.217-.221-.146-.394-.33-.52-.554-.127-.223-.209-.475-.247-.754-.038-.278-.057-.544-.057-.798v-4.827h-2.268v5.444c0 .447.062.882.189 1.306.126.424.324.799.595 1.125.272.327.618.591 1.041.791.422.199.929.299 1.521.299.68 0 1.27-.168 1.768-.499.498-.333.849-.718 1.051-1.153h.037v1.397h2.154v-8.71z"></path>
                    <rect y="11" width="11" height=".908"></rect>
                </g>
            </svg>
        </button>
        <div class="edy-tb-menucontainer">
            <button class="edy-tb-act edy-tb-paragraph edy-tb-g" data-behavior="showstyles" title="Styles">
                <svg width="21" height="21" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5 17.5v-12.5h1.5v12.5h1.5v-14h-4.5c-.714 0-3.5 0-3.5 3s2.5 3 3.5 3v8h1.5z" fill="#1B2124"></path>
                </svg>
            </button>
            <div class="edy-tb-stylemenu" style="display: none;">
                <button class="edy-tb-cmd edy-tb-style-h1" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1" style="font-weight: 300; font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;">Title</button>
                <button class="edy-tb-cmd edy-tb-style-h2" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2" style="font-weight: 300; font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;">Heading</button>
                <button class="edy-tb-cmd edy-tb-style-h3" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3" style="font-weight: 300; font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;">Subheading</button>
                <button class="edy-tb-cmd edy-tb-style-p" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p" style="font-weight: 300; font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;">Normal text</button>
                <button class="edy-tb-cmd edy-tb-style-pre" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="pre" style="font-weight: 300; font-family: monospace;">Fixed width</button>
                <button class="edy-tb-cmd edy-tb-style-blockquote" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="blockquote">Quote block</button>
            </div>
        </div>
        <div class="edy-tb-menucontainer">
            <button class="edy-tb-act edy-tb-paragraph edy-tb-g" data-behavior="showfontsizes" title="Font size" style="font-size:17px;">↕</button>
            <div class="edy-tb-stylemenu" style="display: none;">
                <button class="edy-tb-cmd wysiwyg-font-size-xx-small" data-wysihtml5-command="fontSize" data-wysihtml5-command-value="xx-small" style="font-weight: 300; font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:12px;">xx-small</button>
                <button class="edy-tb-cmd wysiwyg-font-size-x-small" data-wysihtml5-command="fontSize" data-wysihtml5-command-value="x-small" style="font-weight: 300; font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:14px;">x-small</button>
                <button class="edy-tb-cmd wysiwyg-font-size-small" data-wysihtml5-command="fontSize" data-wysihtml5-command-value="small" style="font-weight: 300; font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:16px;">small</button>
                <button class="edy-tb-cmd wysiwyg-font-size-medium" data-wysihtml5-command="fontSize" data-wysihtml5-command-value="medium" style="font-weight: 300; font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:18px;;">medium</button>
                <button class="edy-tb-cmd wysiwyg-font-size-large" data-wysihtml5-command="fontSize" data-wysihtml5-command-value="large" style="font-weight: 300; font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:20px;">large</button>
                <button class="edy-tb-cmd wysiwyg-font-size-x-large" data-wysihtml5-command="fontSize" data-wysihtml5-command-value="x-large" style="font-weight: 300; font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:23px;">x-large</button>
                <button class="edy-tb-cmd wysiwyg-font-size-xx-large" data-wysihtml5-command="fontSize" data-wysihtml5-command-value="xx-large" style="font-weight: 300; font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:25px;">xx-large</button>
            </div>
        </div>
        <div class="edy-tb-menucontainer">
            <button class="edy-tb-act edy-tb-color edy-tb-g" data-behavior="foreColor" title="Text color">
                <svg width="21" height="21" xmlns="http://www.w3.org/2000/svg">
                    <g transform="translate(1 1)" fill="none">
                        <circle stroke="#979797" cx="9.5" cy="9.5" r="9.5" fill=""></circle>
                        <path d="M3.9 15h2.2l.8-2.4h5.1l.9 2.4h2.2l-4.7-12h-1.7l-4.8 12zm3.8-4l1.8-4.7 1.7 4.7h-3.5z" fill="currentColor"></path>
                    </g>
                </svg>
            </button>
        </div>

        <div id="wysihtml-editor">
        </div>
